html {
    background-color: black;
}

img {
    width: 450px;
    border: solid white;
    margin-left: 20%;
    margin-top: 200px;
}

h1 {
    color: white;
    margin-left: 22%;
}

p {
    color: white;
    margin-left: 21%;
}

.whole {
    margin-left: 25%;
}